html,
body {
    padding: 0;
    margin: 0;
}

body{
    width: 1024px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 20px;
}

header,
main,
footer
{
    padding: 20px;
    background-color: #e7e7e7;
    border-bottom: 1px solid black;
}

h1{
    font-size: 2em;
}

.section-name{
    font-size: 2em;
}

.skill-name{
    font-style: italic;
}

code{
    font-size: 0.8em;
}